In [148]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [149]:
datasheet1=pd.read_csv("spotify-albums_data_2023.csv")
datasheet2=pd.read_csv("spotify_artist_data_2023.csv")
datasheet3=pd.read_csv("spotify_data_12_20_2023.csv")
datasheet4=pd.read_csv("spotify_features_data_2023.csv")
datasheet5=pd.read_csv("spotify_tracks_data_2023.csv")

C:\Users\DELL\AppData\Local\Temp\ipykernel_8324\2558546061.py:3: DtypeWarning: Columns (25,26,44) have mixed types. Specify dtype option on import or set low_memory=False.
  datasheet3=pd.read_csv("spotify_data_12_20_2023.csv")

In [150]:
datasheet1.head(5)
# datasheet2.info()
# datasheet3.info()
# datasheet4.info()
# datasheet5.info()

,track_name,track_id,track_number,duration_ms,album_type,artists,total_tracks,album_name,release_date,label,...,artist_3,artist_4,artist_5,artist_6,artist_7,artist_8,artist_9,artist_10,artist_11,duration_sec
0,Amazing Grace,6mN8nzCXWUeT5LWEcG1Utx,5,555521,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.521
1,Silent Night,58sgjtx3FOnBBEOd3BQE6C,8,535041,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535.041
2,Ancient Canyons,45tQJhm0WSk5VWMZK3FsLK,1,545855,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.855
3,Pacha Mama Medicina,3VFD7QqkJSg0OR6yBwKl7A,6,305241,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305.241
4,Palace Of Light,7LwJV5BEIC9BQnzvaBSyCc,7,351060,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,351.060

In [151]:
datasheet1.isnull().sum()

track_name               5
track_id                 0
track_number             0
duration_ms              0
album_type               0
artists             438973
total_tracks             0
album_name               1
release_date            23
label                   52
album_popularity         0
album_id                 0
artist_id                0
artist_0                 3
artist_1            338488
artist_2            395323
artist_3            422611
artist_4            431800
artist_5            435028
artist_6            436424
artist_7            438973
artist_8            438973
artist_9            438973
artist_10           438973
artist_11           438973
duration_sec             0
dtype: int64

In [152]:
datasheet1_cleaned=datasheet1

In [153]:
datasheet1_cleaned.head()

,track_name,track_id,track_number,duration_ms,album_type,artists,total_tracks,album_name,release_date,label,...,artist_3,artist_4,artist_5,artist_6,artist_7,artist_8,artist_9,artist_10,artist_11,duration_sec
0,Amazing Grace,6mN8nzCXWUeT5LWEcG1Utx,5,555521,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.521
1,Silent Night,58sgjtx3FOnBBEOd3BQE6C,8,535041,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535.041
2,Ancient Canyons,45tQJhm0WSk5VWMZK3FsLK,1,545855,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.855
3,Pacha Mama Medicina,3VFD7QqkJSg0OR6yBwKl7A,6,305241,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305.241
4,Palace Of Light,7LwJV5BEIC9BQnzvaBSyCc,7,351060,album,NaN,9,Deep Peace Experience,2015-06-09 00:00:00 UTC,Mountain Music Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,351.060

In [154]:
for i in range(3,12):
    datasheet1_cleaned=datasheet1_cleaned.drop(columns=[f"artist_{i}"])
datasheet1_cleaned=datasheet1_cleaned.drop(columns=['artists'])
datasheet1_cleaned = datasheet1_cleaned.dropna(subset=["track_name"])
for i in range(3):
    datasheet1_cleaned[f'artist_{i}'].fillna("Unknown",inplace=True)
datasheet1_cleaned['release_date']=pd.to_datetime(datasheet1_cleaned['release_date'])
datasheet1_cleaned['release_date'].fillna("unkown",inplace=True)
datasheet1_cleaned['label'].fillna("unknown",inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8324\2503915949.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datasheet1_cleaned[f'artist_{i}'].fillna("Unknown",inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8324\2503915949.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datasheet1_cleaned['release_date'].fillna("unkown",inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8324\2503915949.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unkown' has dtype incompatible with datetime64[ns, UTC], please explicitly cast to a compatible dtype first.
  datasheet1_cleaned['release_date'].fillna("unkown",inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8324\2503915949.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datasheet1_cleaned['label'].fillna("unknown",inplace=True)

In [155]:
datasheet1_cleaned

,track_name,track_id,track_number,duration_ms,album_type,total_tracks,album_name,release_date,label,album_popularity,album_id,artist_id,artist_0,artist_1,artist_2,duration_sec
0,Amazing Grace,6mN8nzCXWUeT5LWEcG1Utx,5,555521,album,9,Deep Peace Experience,2015-06-09 00:00:00+00:00,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,Radiancematrix,Unknown,Unknown,555.521
1,Silent Night,58sgjtx3FOnBBEOd3BQE6C,8,535041,album,9,Deep Peace Experience,2015-06-09 00:00:00+00:00,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,Radiancematrix,Unknown,Unknown,535.041
2,Ancient Canyons,45tQJhm0WSk5VWMZK3FsLK,1,545855,album,9,Deep Peace Experience,2015-06-09 00:00:00+00:00,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,Radiancematrix,Unknown,Unknown,545.855
3,Pacha Mama Medicina,3VFD7QqkJSg0OR6yBwKl7A,6,305241,album,9,Deep Peace Experience,2015-06-09 00:00:00+00:00,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,Radiancematrix,Unknown,Unknown,305.241
4,Palace Of Light,7LwJV5BEIC9BQnzvaBSyCc,7,351060,album,9,Deep Peace Experience,2015-06-09 00:00:00+00:00,Mountain Music Inc,6,3VoHMFQzFr9v163HXRvfo2,002nyxOMwdc9EgNEo7ETcF,Radiancematrix,Unknown,Unknown,351.060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438968,Where She Goes,2sTDlCxmuZCTDKKk9f1qus,17,231704,album,22,Nadie Sabe Lo Que Va A Pasar Mañana,2023-10-13 00:00:00+00:00,Rimas Entertainment LLC,100,4FftCsAcXXD1nFO9RFUNFO,4q3ewBCX7sLwd24euuV69X,Bad Bunny,Unknown,Unknown,231.704
438969,Europa :(,6vh4S1z08AjGipGAEsV62e,20,11904,album,22,Nadie Sabe Lo Que Va A Pasar Mañana,2023-10-13 00:00:00+00:00,Rimas Entertainment LLC,100,4FftCsAcXXD1nFO9RFUNFO,4q3ewBCX7sLwd24euuV69X,Bad Bunny,Unknown,Unknown,11.904
438970,Seda,1YnChEM51BVZ5dRhbVFEMl,8,190476,album,22,Nadie Sabe Lo Que Va A Pasar Mañana,2023-10-13 00:00:00+00:00,Rimas Entertainment LLC,100,4FftCsAcXXD1nFO9RFUNFO,4q3ewBCX7sLwd24euuV69X,Bad Bunny,Bryant Myers,Unknown,190.476
438971,Un Preview,5ixdmTpCmH5diBA1j154wN,22,165582,album,22,Nadie Sabe Lo Que Va A Pasar Mañana,2023-10-13 00:00:00+00:00,Rimas Entertainment LLC,100,4FftCsAcXXD1nFO9RFUNFO,4q3ewBCX7sLwd24euuV69X,Bad Bunny,Unknown,Unknown,165.582
438972,Mercedes Carota,3TYOH7ta0101NYssoH5GlU,12,202635,album,22,Nadie Sabe Lo Que Va A Pasar Mañana,2023-10-13 00:00:00+00:00,Rimas Entertainment LLC,100,4FftCsAcXXD1nFO9RFUNFO,4q3ewBCX7sLwd24euuV69X,Bad Bunny,YOVNGCHIMI,Unknown,202.635

In [156]:
datasheet1_cleaned.isnull().sum()

track_name          0
track_id            0
track_number        0
duration_ms         0
album_type          0
total_tracks        0
album_name          0
release_date        0
label               0
album_popularity    0
album_id            0
artist_id           0
artist_0            0
artist_1            0
artist_2            0
duration_sec        0
dtype: int64

In [157]:
datasheet2.isnull().sum()

id                       0
name                     0
artist_popularity        0
artist_genres            0
followers                0
genre_0              26065
genre_1              32192
genre_2              34572
genre_3              35647
genre_4              36294
genre_5              37012
genre_6              37012
dtype: int64

In [158]:
datasheet2_cleaned=datasheet2

In [159]:

for i in range(3, 7):
    datasheet2_cleaned = datasheet2_cleaned.drop(columns=[f"genre_{i}"])

for i in range(0,3):
     datasheet2_cleaned[f"genre_{i}"].fillna("Unknown",inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8324\1569354566.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datasheet2_cleaned[f"genre_{i}"].fillna("Unknown",inplace=True)

In [160]:
datasheet2_cleaned.isnull().sum()

id                   0
name                 0
artist_popularity    0
artist_genres        0
followers            0
genre_0              0
genre_1              0
genre_2              0
dtype: int64

In [192]:
unique_artists=datasheet2_cleaned["name"].unique()

unique_total_genre=len(datasheet2_cleaned["genre_0"].unique())+len(datasheet2_cleaned["genre_1"].unique())+len(datasheet2_cleaned["genre_2"].unique())

In [193]:
print("Number of the distint artist:",len(unique_artists))
print("Number of the distinct genres:",unique_total_genre)

Number of the distint artist: 36196
Number of the distinct genres: 5970

In [194]:
datasheet2_cleaned

,id,name,artist_popularity,artist_genres,followers,genre_0,genre_1,genre_2
0,6GkSLJj5CGLIckLIb8J4LR,Late Night Fights,0,['minneapolis punk'],184,minneapolis punk,Unknown,Unknown
1,1N0VwQy5PRJymrRvlRzDIj,Sub Par All Star,0,['antiviral pop'],491,antiviral pop,Unknown,Unknown
2,4Ch4BIKKwMJsiu1oVLDwpX,Nirvana Meditation 8D,0,['8d'],56,8d,Unknown,Unknown
3,5h2iINTOvhghVcpIzrztPP,Red Hot Rebellion,0,['action rock'],394,action rock,Unknown,Unknown
4,7dE2MLL2SaI6MujpU5HFVi,Nirvana Tribute Band,0,['tribute'],230,tribute,Unknown,Unknown
...,...,...,...,...,...,...,...,...
37007,12GqGscKJx3aE4t07u7eVZ,Peso Pluma,90,"['corridos tumbados', 'sad sierreno']",9775920,corridos tumbados,sad sierreno,Unknown
37008,1Xyo4u8uXC1ZmMpatF05PJ,The Weeknd,93,"['canadian contemporary r&b', 'canadian pop', ...",75945958,canadian contemporary r&b,canadian pop,pop
37009,4q3ewBCX7sLwd24euuV69X,Bad Bunny,95,"['reggaeton', 'trap latino', 'urbano latino']",77931484,reggaeton,trap latino,urbano latino
37010,3TVXtAsR1Inumwj472S9r4,Drake,95,"['canadian hip hop', 'canadian pop', 'hip hop'...",83298497,canadian hip hop,canadian pop,hip hop
37011,06HL4z0CvFAxyc27GXpf02,Taylor Swift,100,['pop'],95859165,pop,Unknown,Unknown

In [214]:
a=datasheet2_cleaned["followers"].sort_index(ascending=False).array
c=[]
b=np.array(a)
for i in range (0,10):
    c.append(b[i])

In [215]:
c

[np.int64(95859165),
 np.int64(83298497),
 np.int64(77931484),
 np.int64(75945958),
 np.int64(9775920),
 np.int64(22582692),
 np.int64(25672786),
 np.int64(79891173),
 np.int64(30603103),
 np.int64(11781452)]

In [212]:
b[1]

np.int64(83298497)

In [213]:

for i in range (0,10):
    print(b[i])

95859165
83298497
77931484
75945958
9775920
22582692
25672786
79891173
30603103
11781452

In [205]:
b

[np.int64(11781452)]

In [131]:
datasheet3.isnull().sum()

album_id                  0
album_name                1
album_popularity          0
album_type                0
artists                   0
artist_0                  2
artist_1             288062
artist_2             336841
artist_3             361318
artist_4             369054
artist_id                 0
duration_sec              0
label                    52
release_date             22
total_tracks              0
track_id                  0
track_name                5
track_number              0
artist_genres             0
artist_popularity         0
followers                 0
name                      0
genre_0              165278
genre_1              255655
genre_2              297922
genre_3              326531
genre_4              343824
acousticness            777
analysis_url            777
danceability            777
duration_ms             777
energy                  777
instrumentalness        777
key                     777
liveness                777
loudness                777
mode                    777
speechiness             777
tempo                   777
time_signature          777
track_href              777
type                    777
uri                     777
valence                 777
explicit                 10
track_popularity         10
release_year             22
release_month            22
rn                        0
dtype: int64

In [ ]:
datasheet3.head(3)

,album_id,album_name,album_popularity,album_type,artists,artist_0,artist_1,artist_2,artist_3,artist_4,...,time_signature,track_href,type,uri,valence,explicit,track_popularity,release_year,release_month,rn
0,4zH8bbEjLe0Gdbv2FVLjnK,Son Of Tabu,1,album,['AB'],AB,NaN,NaN,NaN,NaN,...,4.0,https://api.spotify.com/v1/tracks/5JucnTkqh8uC...,audio_features,spotify:track:5JucnTkqh8uCZGggL1xxvv,0.382,True,0.0,2023.0,April,1
1,4zH8bbEjLe0Gdbv2FVLjnK,Son Of Tabu,1,album,"['AB', '22nd Jim']",AB,22nd Jim,NaN,NaN,NaN,...,4.0,https://api.spotify.com/v1/tracks/4VWrKNG3ssyZ...,audio_features,spotify:track:4VWrKNG3ssyZeboTgQ7Kj1,0.193,True,1.0,2023.0,April,1
2,4zH8bbEjLe0Gdbv2FVLjnK,Son Of Tabu,1,album,"['AB', 'Veeze']",AB,Veeze,NaN,NaN,NaN,...,4.0,https://api.spotify.com/v1/tracks/6JsVrTLJPSOS...,audio_features,spotify:track:6JsVrTLJPSOSpgJSnZyfSK,0.835,True,1.0,2023.0,April,1

In [133]:

for i in range(1, 5):
    datasheet3 = datasheet3.drop(columns=[f"artist_{i}"])


for i in range(0, 3):
    datasheet3 = datasheet3.drop(columns=[f"genre_{i}"])

In [ ]:
datasheet3.isnull().sum()

album_id                  0
album_name                1
album_popularity          0
album_type                0
artists                   0
artist_0                  2
artist_id                 0
duration_sec              0
label                    52
release_date             22
total_tracks              0
track_id                  0
track_name                5
track_number              0
artist_genres             0
artist_popularity         0
followers                 0
name                      0
genre_3              326531
genre_4              343824
acousticness            777
analysis_url            777
danceability            777
duration_ms             777
energy                  777
instrumentalness        777
key                     777
liveness                777
loudness                777
mode                    777
speechiness             777
tempo                   777
time_signature          777
track_href              777
type                    777
uri                     777
valence                 777
explicit                 10
track_popularity         10
release_year             22
release_month            22
rn                        0
dtype: int64

In [139]:
names=["chandan","$@%@","aman","dinesh",None ,"radhe"]
artists=set()
for name in names:
    artists.add(name)

In [140]:
a=pd.DataFrame(names)
a

         0
0  chandan
1     $@%@
2     aman
3   dinesh
4     None
5    radhe

In [142]:
a.fillna("unknown")

         0
0  chandan
1     $@%@
2     aman
3   dinesh
4  unknown
5    radhe